<div class="footer">
  <p><small>Made by <a href="https://middlemanapp.com">Middleman</a>, hosted on <a href="https://github.com/Ceriiise/google">Github Pages</a> | <a href="https://philippineberton.fr">A propos de moi</a></small></p>
</div>
