---
title: Landing page HTML/CSS - Atelier Google de Nancy
---


<%= partial "components/banner" %>

<div class="container-fluid readme">
  <div class="row">
    <div class="col-xs-12">

      <section class="readme-section">
        <h2 class="readme-header">1. Commençons par le <tag class="green">setup</tag></h2>
        <p>Ce setup sous entend que vous avez déjà installé <a href="https://www.google.com/intl/fr_fr/chrome/">Google Chrome</a> et <a href="https://www.sublimetext.com/3">Sublime Text</a>.</p>
        <p>L'objectif de cet Atelier est de reproduire cette <a href="https://alyssaphi.github.io/google/">page web</a>.</p>
        <ol>
          <li>1 - Ouvrez Sublime Text une fenêtre noire devrait s'afficher.</li>
          <li>2 - Créez un dossier <code>landing</code> sur votre bureaux. Glissez & déposez ce dossier dans Sublime Text window.</li>
          <li>
            3 - Dans la navigation gauche de Sublime Text :
            <ul>
              <li>Clique droit <strong>"New file"</strong></li>
              <li>Enregistrez sous en le nommant <code>index.html</code> avec <strong>Cmd + S</strong> ou <strong>Ctrl + S</strong></li>
              <li>Réitérez en créant le fichier <code>style.css</code></li>
              <li>Ensuite choisissez <strong>"New Folder"</strong> et créez un dossier <code>images</code></li>
            </ul>
            </ul>
          </li>
          <li>4 - Pour finir double-cliquez sur <code>index.html</code> pour l'ouvrir dans Chrome</li>
        </ol>

        <img src='images/setup.png' width="100%" style="box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);" />
      </section>

      <section class="readme-section">
        <h2 class="readme-header">2. Ajoutons du contenu <tag class="purple">HTML</tag></h2>
        <ul>
          <li>
            Pour gagner du temps, Faites clique-droit sur les images suivantes et sauvez les dans votre dossier <code>images</code>
            <ul class="list-inline">
              <li><img src="images/fast.png" alt="" width="350"></li>
              <li><img src="images/trustable.png" alt="" width="350"></li>
              <li><img src="images/affordable.png" alt="" width="350"></li>
            </ul>
          </li>
          <li>Commencez ensuite à partir de ce code HTML dans <code>index.html</code></li>
        </ul>
<% code("html") do %>
<html>
  <head>
    <meta charset="utf-8">
    <title>Atelier Google - Landing page</title>
  </head>

  <body>
    <h1>Mon projet</h1>
    <p>Punchline de votre projet de folie</p>
    <a href="#">Contactez nous</a>

    <img src="images/fast.png" alt="icon fast">
    <h2>Rapide</h2>
    <p>Nous vous livrons vite, vraiment <strong>très vite</strong>.</p>

    <img src="images/trustable.png" alt="icon trustable">
    <h2>Digne de confiance</h2>
    <p>Vous pouvez nous faire confiance, <strong>vraiment</strong>.</p>

    <img src="images/affordable.png" alt="icon affordable">
    <h2>Abordable</h2>
    <p>Nous adaptons notre prix à <strong>votre situation</strong>.</p>

    <p>Landing page créée à l'Atelier Google Numérique de Nancy</p>

  </body>
</html>
<% end %>
        <h3>Extra - utiliser des icônes personnelles chiadées</h3>
        <ul>
          <li>Vous pouvez choisir vos icônes sur <a href="https://iconstore.co/" target="_blank">IconStore</a>, <a href="https://thenounproject.com/" target="_blank">The Noun Project</a> ou <a href="https://nucleoapp.com/premium-icons/" target="_blank">NucleoApp</a> (ils ont des packs gratuits).</li>
          <li><strong>Tips</strong>: Ne manquez pas de surveiller <a href="https://www.producthunt.com/search?q=icons" target="_blank">les nouvelles ressources d'icônes sur Product Hunt</a></li>
        </ul>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">3. <tag class="blue">CSS</tag> pour la font & couleur</h2>
        <ul>
          <li>
            <p>Lier votre stylesheet <code>style.css</code> dans la section <code>head</code> de votre HTML</p>
          </li>
        </ul>


<% code("html") do %>
<head>
  <link href='style.css' rel='stylesheet'>
</head>
<% end %>
        <p>Copiez/collez ensuite le code CSS ci-dessous <code>style.css</code> et <strong>modifier le</strong> pour qu'il soit à votre goût</p>
        <ul>
          <li>Pour les fonts utilisez <a href="https://www.google.com/fonts" target="_blank">Google Fonts</a></li>
          <li>Pour les couleurs utilisez <a href="http://www.colorzilla.com/chrome/" target="_blank">Chrome plugin Colorzilla</a> pour récupérer les couleurs des autres sites</li>
          <li>Vous trouverez aussi de belles inspirations couleurs sur <a href="https://coolors.co/" target="_blank">Coolors</a> ou <a href="https://colorhunt.co/" target="_blank">Color Hunt</a></li>
        </ul>
<% code("css") do %>
/* style.css */
body{
  background: rgb(240,240,240);
  color: rgb(20, 20, 20);
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: Courier;
  font-weight: bold;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
  color: #6A71E1;
}
a {
  color: #6A71E1;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: black;
}
<% end %>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">4. Découper en <tag class="red">div</tag></h2>
        <ul>
          <li>
            <p>Enveloppez les différentes sections dans différentes <code>div</code></p>
          </li>
        </ul>

<% code("html") do %>
<div>
  <h1>Mon projet</h1>
  <p>Punchline de votre projet de folie</p>
  <a href="#">Contactez nous</a>
</div>

<div>
  <img src="images/fast.png" alt="icon fast">
  <h2>Rapide</h2>
  <p>Nous vous livrons vite, vraiment <strong>très vite</strong>.</p>
</div>

<div>
  <img src="images/trustable.png" alt="icon trustable">
  <h2>Digne de confiance</h2>
  <p>Vous pouvez nous faire confiance, <strong>vraiment</strong>.</p>
</div>

<div>
  <img src="images/affordable.png" alt="icon affordable">
  <h2>Abordable</h2>
  <p>Nous adaptons notre prix à <strong>votre situation</strong>.</p>
</div>

<div>
  <p>Landing page créée à l'Atelier Google de Nancy</p>
</div>
<% end %>

      </section>
      <section class="readme-section">
        <h2 class="readme-header">5. Nommer les <tag class="yellow">tags</tag></h2>
        <ul>
          <li>Nommer votre banner et footer en utilisant un <code>id</code> commme <code>&lt;div id="banner"&gt;</code> et <code>&lt;div id="footer"&gt;</code></li>
          <li>Nommer vos fonctionnalités en utilisant une <code>class</code> comme <code>&lt;div class="card"&gt;</code></li>
          <li>Styliser votre bouton en utilisant <code>class</code> comme <code>&lt;div class="btn btn-blue"&gt;</code></li>
          <li>Ajoutez ensuite ce code CSS</li>
        </ul>
<% code("css") do %>
#banner{
  text-align: center;
  color: white;
  padding: 150px 0px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%), url("https://picsum.photos/1000/600?random");
  background-size: cover;
  background-position: center;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 40px;
}
#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
.card{
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 18px;
  margin: 16px 0px;
}
.card img {
  margin-bottom: 20px;
  height: 230px;
}
<% end %>

<h3>Extra - trouver une belle image de fond</h3>
<ul>
  <li>Vous trouverez des exemples d'images sur <a href="https://www.pexels.com/" target="_blank">Pexels</a></li>
</ul>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">6. <tag class="green">Fontawesome</tag> pour les icons</h2>
        <ul>
          <li>
            <p>Ajoutez le stylesheet fontawesome dans votre <code>head</code></p>
          </li>
        </ul>
<% code("html") do %>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<% end %>
        <ul>
          <li>
            <p>Ajoutez ensuite ceci dans le footer</p>
          </li>
        </ul>
<% code("html") do %>
<div id="footer">
  <ul>
    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#"><i class="fab fa-github"></i></a></li>
  </ul>
</div>
<% end %>
        <ul>
          <li>
            <p>Accompagné d'un peu de style CSS</p>
          </li>
        </ul>
<% code("css") do %>
#footer a {
  color: lightgrey;
  font-size: 30px;
}
#footer a:hover {
  color: white;
}
<% end %>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">7. Bootstrap <tag class="purple">setup</tag></h2>
        <ul>
          <li>
            <p>Liez le stylesheet de Bootstrap dans le <code>head</code> section de votre HTML <strong>avant le lien de votre stylesheet</strong></p>
          </li>
        </ul>
<% code("html") do %>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href='style.css' rel='stylesheet'>
</head>
<% end %>
        <ul>
          <li>
            <p>Jouez avec <code>class="btn btn-primary"</code> et <code>class="list-inline"</code>, vos premières classes Bootstrap</p>
          </li>
        </ul>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">8. Bootstrap <tag class="blue">grid</tag></h2>
        <ul>
          <li>Insérez vos 3 div cartes dans le grid responsive suivant</li>
        </ul>
<% code("html") do %>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4">
      <!-- div class="card" -->
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <!-- div class="card" -->
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <!-- div class="card" -->
    </div>
  </div>
</div>
<% end %>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">9. Publier votre <tag class="green">site</tag></h2>
        <ol>
          <li>1 - Créez un <code>compte</code> sur <a href="https://github.com/join">Github</a></li>
          <li>2 - Créez un nouveau <code>repository</code>. Choisissez un nom pour votre projet, cochez la dernière case et cliquez sur <code>Create repository</code></li>
          <img src='images/new_repo.png' width="100%" style="box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);" />
          <br>
          <li>3 - Faites <code>glisser</code> vos fichiers dans le repo</li>
          <img src='images/drag.png' width="100%" style="box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);" />
          <li>4 - Ensuite cliquez sur l'onglet <code>Settings</code>. Descendez jusqu'à <code>Github Pages</code>. Puis choisissez <code>master branch</code></li>
          <li>5 - Enfin la <code>magie</code> opère. Votre <code>url</code> est créée</li>
          <img src='images/link.png' width="100%" style="box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);" />
        </ol>
      <img src="images/laptop-bottom.svg" alt="laptop" class="laptop">
      </section>

      <h2 class="readme-header">Félicitations !</h2>

    </div>
  </div>
</div>

<%= partial "components/footer" %>
